
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
box-sizing: border-box;
}
:root {
    --main-color: #645cff;
    --span-color: #aaa5ff;
    --h1-size: 75px;
    --h3-size: 40px;
    --h4-size: 20px;
    --p--size: 25px;
    --h2-size: 55px;
    --background-color-light: #f8fbfc;
  }
  main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid red
  }
  .our_services,.our_gallery{
    background-color: var(--background-color-light);
  }
  .photos{
    width: 700px;
    height: 500px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }

  nav{
    width: 100%;
    display:inline-grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;  
     justify-content:space-between;
  }
 .nav_list{
    display: none;
 }
  h3{
    font-size: var(--h3-size);
    font-weight: 500;
  }
  h2{
    font-size: var(--h2-size);
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  h1{
    font-size: var(--h1-size);
    font-weight: 400;
    letter-spacing: 0.1em;;
  }
  span{
    color: var(--span-color);
  }
  .date{
    background-color: var(--main-color);
    width: fit-content;
    padding: 10px;
    border-radius: 2px;
    position: absolute;
    font-size: large;
  }
  .tours{
    grid-column: span 2;
    text-decoration: none;
    font-size: var(--h3-size);
    color: black;
    text-align: left;
    line-height: 2;
    margin-left: 20px;

  }
  .period_price{
    font-size: var(--p--size);
    /* font-weight: 150; */
    line-height: 0;
    text-align: right;
    margin-right: 20px;
  }
  .map_days_price{
    width: 700px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
 align-items: center;
 margin-bottom: 40px;
 box-shadow: 0px 1px 1px 1px #d6d1d1;
 margin-left: auto;
 margin-right: auto;
     /* justify-content:space-between; */
  }
  .map{
    font-size: var(--p--size);
    text-decoration: none;
    color: var(--main-color);
    margin-left: 10px;
  }
  .map_pointer{
    text-align: left;
    margin-left: 20px;
  }

  .soc_icons{
    width: 30px;
    margin: 10px;
  }
  .continue_exploring{
    background-color: var(--main-color);
    color: white;
    padding-top: 400px;
    padding-bottom: 400px;
    padding-left: 60px;
    padding-right: 60px;
    
  }
  p{
    font-size: var(--p--size);
  }
  .explore{
background-color: #645cff;
color: white;
font-size: var(--p--size);
border-radius: 5px;
padding: 15px;
margin-top: 30px;
  }

  .about_us_headline{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .about_us_bottomline{
    text-align: left;
    padding-left: 25px;
  }
  .explore_the_difference{
    
    line-height: 1.5;
    padding: 25px;
    text-align: justify;
    font-size: var(--p--size);
  }
  .read_more{
    font-size: var(--p--size);
    text-decoration: none;
    font-weight: 500;
  }
  .our_services_elements{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;justify-content: space-around;
   
  }
  .saving_money, .endless_hiking, .amazing_comfort{
     width: 40%;
     margin: 10px
  }
  .tibet{
    background-image: url(/img/img_tibet.jpg);
    background-size: cover;
    position:relative;
  }
  .java{
    background-image: url(/img/img_java.jpg);
    background-size: cover;
    position:relative;
  }
  .hk{
    background-image: url(/img/img_hk.jpg);
    background-size: cover;
    position:relative;
  }
  .kenya{
    background-image: url(/img/img_kenya.jpg);
    background-size: cover;
    position:relative;
  }

.img_gallery{
display: grid;
row-gap: 10px;
background-color: var(--main-color);
}
.gallery_photo{
    width: 100%;
    height: auto;
}
.info_and_updates{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: var(--main-color);
    color: white;
    justify-content:center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /* padding-left: 20px;
    padding-right: 20px; */
}
 .info{
    width: 50%;
}
input{
    line-height: 3em;
}

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding-top: 100px ;
    padding-bottom: 100px;
    margin-bottom: 200px;
}
li{
    list-style-type: none;
    font-size: var(--p--size); 
    padding: 15px;
}
.list, .soc_media, .copyright{
    display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   
}
.copyright{
    font-size: var(--p--size);
    font-weight: 100;
    word-spacing: 7px;
}
@media screen and (min-width: 1000px){
    main{
        width: 1200px;
      
      }
    nav{
        width: 100%;
        display:inline-grid;
        grid-template-columns: 1fr 2fr 1fr;
     
      }
    .nav_list{
        display: inline;
    }
    li{
        font-size: var(--h4-size); 
    }
    .continue_exploring{
    background-image: url(/img/img_tibet.jpg);
      }
      .about_us_text{
        width: 50%;
      }
      .photos_wrap{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border: solid 10px blue;
        width: 95%;
        height:min-content;
        }
        /* .explore_the_difference{
    width: 100%;
        } */
      
      .photos{
        width: 100%;
        position: relative;
        z-index: 1;
        left: 20px;
        top: 20px;
        /* margin: 0 auto; */
      }

      .content{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
     
      } 
      .content_tours{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
      .first_tour,.second_tour,.third_tour,.fourth_tour{
        width: 95%;
        height: auto;
        margin: 5px auto;
      }
      .content_services{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        
       
      }
      .img_gallery{
        display: inline-block;
        background-color: var(--background-color-light);
        margin: 0 auto;
        row-gap: 0px;
      
        }
      .gallery_photo{
        width: 24%;
        height: auto;
        object-fit: cover;
    }
    .info_and_updates{
      display: flex;
      width: 100%;
      flex-direction: row;
      background-color: var(--main-color);
      color: white;
      justify-content:space-between;
      align-items: center;
}
.saving_money, .endless_hiking, .amazing_comfort{
  width: 33%;
  margin: 0px
}
}
@media screen and (min-width: 1200px){
    main{
        width: 1200px;
      }
      .continue_exploring{
background-image: url(/img/img_tibet.jpg);
      }
    nav{
        width: 100%;
        display:inline-grid;
        grid-template-columns: 1fr 4fr 1fr;
     
      }
    .nav_list{
        display: inline;
    }
    li{
        font-size: var(--h4-size); 
    }
    
}